[submodule "libs/competitive-programmer-handbook-python"]
	path = libs/competitive-programmer-handbook-python
	url = git@github.com:abhishekgahlot/competitive-programmer-handbook-python.git
[submodule "libs/agno"]
	path = libs/agno
	url = git@github.com:agno-agi/agno.git
[submodule "libs/agent-squad"]
	path = libs/agent-squad
	url = git@github.com:awslabs/agent-squad.git
[submodule "libs/python-patterns"]
	path = libs/python-patterns
	url = git@github.com:faif/python-patterns.git
[submodule "libs/recommenders"]
	path = libs/recommenders
	url = git@github.com:recommenders-team/recommenders.git
[submodule "libs/graphrag"]
	path = libs/graphrag
	url = git@github.com:microsoft/graphrag.git
